<!DOCTYPE html>
<html>
<head>
  <title>GiphySearch</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
</head>
<body>
  <header id="page-header">
    <span class="logo"><a href="/">Cineawesome</a></span>
<!--     <ul class="nav">
      <li><a href="/">Search</a></li>
      <li><a href="/random">Random</a></li>
    </ul> -->

  </header>

<p class="nav">
  <% if user_signed_in? %>
    Logged in as <strong><%= current_user.email %></strong>
    <%= link_to 'Signout', destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %>
    <%= link_to "Login", new_user_session_path %>
  <% end %>
</p>
  <div id="main">
    <%= yield %>
  </div>


</body>
</html>
